body {
	font-family: 'Open Sans', sans-serif;
	min-width: 58.000em;
	overflow: hidden;
}

header {
	width: 100%;
	border-bottom: solid 0.063em $gray-darker;
	box-sizing: border-box;
	padding: 0.500em 2.000em;
	height: 6.000em;

	h1 {
		display: inline;
		font-size: 42pt;
		letter-spacing: 2px;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:nth-child(2) {
			font-size: 42pt;
			float: right;
			line-height: 135%;
			color: $link;
		}
	}
}

section.data {
	margin: 0 auto;
	width: 90%;
	min-width: 86em;

	table {
		margin: 0 auto;
		font-size: 10pt;

		thead {
			padding-right: 17px;
			background-color:#f29f5a;
			color: white;
		}

		th, td {
			padding: 0.5em 1em;

			&:nth-child(1) {
				width: 10em;
			}

			&:nth-child(2) {
				width: 10em;
			}

			&:nth-child(3) {
				width: 4em;
			}

			&:nth-child(4) {
				width: 20em;
			}

			&:nth-child(5) {
				width: 10em;
			}

			&:nth-child(6) {
				width: 34em;
			}
		}
	}
}

table tbody, table thead
{
    display: block;
}

table tbody 
{
   overflow: auto;
   height: 28em;
}
