body {
	font-family: 'Open Sans', sans-serif;
	min-width: 58.000em;
	overflow: hidden;
}

header {
	width: 100%;
	border-bottom: solid 0.063em $gray-darker;
	box-sizing: border-box;
	padding: 0.500em 2.000em;
	height: 6.000em;

	h1 {
		display: inline;
		font-size: 42pt;
		letter-spacing: 2px;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:nth-child(2) {
			font-size: 42pt;
			float: right;
			line-height: 135%;
			color: $link;
		}
	}
}

section.data {

	table {
		font-size: 10pt;

		thead {
			background-color: #f29f5a;
			color: white;
			display: block;
		}

		tbody {
			border-left: solid 1px #ccc;
			border-bottom: solid 1px #ccc;
			border-right: solid 1px #ccc;
			overflow: auto;
			height: 27em;
			display: block;

			tr {
				&:nth-child(even) {
					background-color: #EBEDF3;
				}
			}
		}

		th, td {
			padding: 0.5em 1em;

			&:nth-child(1) {
				width: 10em;
			}

			&:nth-child(2) {
				width: 10em;
			}

			&:nth-child(3) {
				width: 4em;
			}

			&:nth-child(4) {
				width: 20em;
			}

			&:nth-child(5) {
				width: 10em;
			}

			&:nth-child(6) {
				width: 34em;
			}
		}
	}
}

input {
	width: 100%;
	display: block;
}
