body {
	font-family: 'Open Sans', sans-serif;
	min-width: 58.000em;
	overflow: hidden;
}

header {
	width: 100%;
	border-bottom: solid 0.063em $gray-darker;
	box-sizing: border-box;
	padding: 0.500em 2.000em;
	height: 6.000em;

	h1 {
		display: inline;
		font-size: 42pt;
		letter-spacing: 2px;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:nth-child(2) {
			font-size: 42pt;
			float: right;
			line-height: 135%;
			color: $link;
		}
	}
}

section.data {
	width: 80%;
	margin: 0 auto;
}

table {
	height: 24em;
	display: block;
	font-size: 10pt;
	margin: 0 auto;
	overflow: auto;
	width: 100%;
	white-space:nowrap;

	th, td {
		padding: 0.500em;
		width: 10%;

		&:last-child {
			width: 100%;
		}
	}

	tr {
		&:nth-child(even) {
			background-color: #ccc;
		}
	}
}