<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>ngHighlight</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="lib/prism.css" />
	<link rel="stylesheet" href="css/style.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
	<style>
		.ng-cloak {
			display: none !important;
		}

		.highlight {
			border: solid 1px #ccc;
			border-radius: 4px;
			color: #64b5c1;
			padding: 4px;
		}
	</style>
</head>
<body class="ng-cloak" ng-controller="ctrl">
	<header>
		<h1>
			ngHighlight
		</h1>

		<a href="https://github.com/scniro/ng-highlight" target="_blank"><i class="fa fa-github"></i></a>
	</header>

	<div class="content">
		<section class="pane left">

			<h1>getting started</h1>

			<div>
				<pre><code prism class="language-shell">bower install ng-highlight</code></pre>
			</div>

			<ul>
				<li>
					Include the <code prism class="language-javascript">ngHighlight</code> module as a dependency in your AngularJS application
				</li>
			</ul>

			<div>
				<pre><code prism class="language-javascript">angular.module('app', ['ngHighlight'])</code></pre>
			</div>

			<ul>
				<li>
					Define a <code prism class="language-css">.highlight { }</code> class to your liking
				</li>
			</ul>

			<ul>
				<li>
					<i>badda bing, badda boom</i>
				</li>
			</ul>
		</section>
		<section class="pane right">
			<tabs tabs="tabs" selected="0"></tabs>
		</section>
	</div>


	<input type="text" ng-model="query" />

	<section class="data">
		<table>
			<thead>
				<tr>
					<th>first</th>
					<th>last</th>
					<th>gender</th>
					<th>email</th>
					<th>phone</th>
					<th>address</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="d in data | filter: query | limitTo: 30">
					<td highlight="query">{{ d.first }}</td>
					<td highlight="query">{{ d.last }}</td>
					<td>{{ d.gender }}</td>
					<td highlight="query">{{ d.email }}</td>
					<td highlight="query">{{ d.phone }}</td>
					<td highlight="query">{{ d.address }}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<script src="lib/prism.js"></script>
	<script src="js/app.js"></script>
	<script src="../src/ng-highlight.js"></script>
</body>
</html>
