$gray-lighter: #f5f2f0;
$gray-darker: #ccc;
$highlight: #6A83BC;

$table-accent: #6A83BC;


$accent: #EAAE0F;
$accent-1: #F6C541;
$accent-2: #B88705;
$accent-3: #906900;

$contrast: #116795;
$contrast-1: #2F769C;
$contrast-2: #094F75;
$contrast-3: #043D5B;